{% extends "base.html" %}

{% block content %}

<style>
  .blogpost + .blogpost {
    margin-top: 20px;
  }

  .blogpost-title {
    font-weight: bold;
    font-size: 18px;
    color: ;
  }

  .blogpost-body {
    margin: 0px;
    font-size: 15px;
  }

  .header {
    color: DeepPink;
    font-size: 40px;
    text-shadow: 1px 1px #ff8c66;
  }

  a:hover {
    color:Lightpink;
  }

  .nav {
    font-size: 15px;
  }
  
</style>

<nav class="nav">
    <a href="/">home</a>&nbsp;&nbsp; | &nbsp;&nbsp;<a href="/newpost">new post</a>
</nav>

<h1 class="header">build-a-blog</h1>

{% for blogpost in posts %}
  <div class="blogpost">
    <div class="blogpost-title"><a href="/blog/{{blogpost.key().id()}}">{{blogpost.title}}</a></div>
    <pre class="blogpost-body">{{blogpost.body}}</pre>
  </div>
{% endfor %}

{% endblock %}
