{% extends "base.html" %}

{% block content %}

<style>

.blogpost-title {
  font-weight: bold;
  font-size: 25px;
  margin-top: 20px;
  color: lightgreen;
}

.blogpost-body {
  margin: 0px;
  font-size: 17px;
}

.error {
  font-weight: bold;
  font-size: 25px;
  margin-top: 20px;
  color: red;
}

a:hover {
  color:Lightpink;
}

.nav {
  font-size: 15px;
}

</style>

<nav class="nav">
  <a href="/">home</a>&nbsp;&nbsp; | &nbsp;&nbsp;<a href="/newpost">new post</a>
</nav>

  <div class="blogpost-title"> {{post.title}} </div>
  <pre class="blogpost-body"> {{post.body}} </pre>
  <div class="error"> {{error}} </div>
  <pre class="error2"><marquee> {{tinyerror}} </marquee></pre>

{% endblock %}
